#container {
    text-align: center;
}

#Form {
    padding-left : 5%;
    padding-right: 5%;
}

ion-col {
    align-items: center;
}

ion-icon:hover {
    background-color: var(--ion-color-danger);

}


.error-message {
    color: var(--ion-color-danger)
}


ion-radio {

    --color-checked: none;
    --color        : var(--ion-color-light);
    height         : 32px;
    width          : 32px;


    &.excellent {
        background     : url('../emojis/excellent.png') center;
        background-size: cover;
        color          : var(--ion-color-teritary-contrast);
    }

    &.good {
        background     : url('../emojis/good.png') center;
        background-size: cover;
        color          : var(--ion-color-teritary-contrast);
    }

    &.average {
        background     : url('../emojis/average.png') center;
        background-size: cover;
        color          : var(--ion-color-teritary-contrast);
    }

}

.Feedback {
    text-align: center;
}