<ion-header>
  <ion-toolbar>
    <ion-title>Customer List</ion-title>
    <ion-button color="primary" (click)="Add()" slot="end">
      <ion-icon name="add"></ion-icon>
    </ion-button>
    <ion-searchbar (ionInput)="search($event)" slot="end"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid">
    <ion-row>
      <ion-col size-md="3">Customer Name</ion-col>
      <ion-col size-md="3">Customer Email</ion-col>
      <ion-col size-md="2.5">Customer Mobile</ion-col>
      <ion-col size-md="2">More details</ion-col>
      <ion-col size-md="1.5">Options</ion-col>
    </ion-row>
    <div *ngIf="customersList != null ">
      <ion-row
        *ngFor="let customer of customersList | paginate:{ id:'listing_pagination',itemsPerPage: 10, currentPage: page, totalItems: totalCustomers}">
        <ion-col size-md="3">{{customer.FirstName}}</ion-col>
        <ion-col size-md="3">{{customer.EmailId}}</ion-col>
        <ion-col size-md="2.5">{{customer.PhoneNumber}}</ion-col>
        <ion-col size-md="2">
          <ion-button (click)="Moredetails(customer)">More</ion-button>
        </ion-col>
        <ion-col size-md="1.5">
          <ion-col>
            <ion-button size="small" (click)="editCustomer(customer)">
              <ion-icon name="pencil-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" (click)="deleteCustomer(customer)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <div id="page">
    <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page=$event">
    </pagination-controls>
  </div>
</ion-content>