<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button (click)="ReviewedList()" >ReviewedList</ion-tab-button>
    <ion-tab-button (click)="UnreviewedList()">UnreviewedList</ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


<!-- <ion-grid >
  <ion-tabs>
    <ion-row slot="top">
      <ion-col size="3">
        <ion-tab-button tab="ReviewedList">ReviewedList</ion-tab-button>
      </ion-col>
      <ion-col size="3">
        <ion-tab-button tab="UnreviewedList">UnReviewedList</ion-tab-button>
      </ion-col>
    </ion-row>
  </ion-tabs>
</ion-grid> -->