ion-col {
    align-self: center;
    // border: solid 1px;
}

#page {
    position: fixed;
    left    : 32px;
}

#unauthorized {
    align-self     : center;
    align-items    : center;
    align-content  : center;
    justify-self   : center;
    justify-content: center;
    justify-items  : center;
    left           : 5%;
}

ion-searchbar {
    width: 30%;
}